.header {
	border-width: 5px 0 0 0;
	border-style: solid;
}

.intnav {
	text-align: center;
}

body {
	
}

h1 {
	text-align: center;
	margin-left: 50px;
}

li {
	display: inline;
	list-style-type: none;
	padding: 5px;
}

img {
	width: 20%;
	float: right;
	margin: 50px 30px 30px 70px;
	clear: left;
}

p {
	height: 100%;
}

.profile {
	border-style: solid;
	border-width: 1px 0 1px 0;
	padding: 0 0 0 20px;
	height: 300px;
}

/*.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}*/

.links {
	height: 30px;
}

.icon {
	width: 2%;
	margin: 10px;
}